*.exe
*.i
*.s

/progressive_implementation_backup

/progressive_implementation/chapter_*/tests/
/progressive_implementation/chapter_*/tests/**

/code_analysis/template.md
/book_notes_template.md
/notes_tmp.md